<h1> Services Page </h1>





<div class="row">
  <% @services.each do |service| %>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1> <%= service.name %> </h1>
        <div class="panel-body">
          <p> <%= service.description %> </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
