<div class="center-text padding text-style">
  <h1> All The Services We Offer</h1>
  <h4> Click any service to see more details </h4>
</div>
<div class="center-text">
  <div class="btn btn-default">
    <% if current_user %>
    <%= link_to "Add A New Service", new_service_path if current_user.admin == true%>
    <% end %>
  </div>
</div>



  <div class="services-section">
    <% @services.each do |service| %>
    <ul>
      <div class="btn">
        <h5> <span class="glyphicon glyphicon-camera"> </span> <%= link_to service.name, service_path(service) %> <h5>
        </div>
    </ul>
    <% end %>
  </div>
